atomicwrites
attrs
biopython
certifi
chardet
clldutils
colorama
colorlog
csvw
cycler
docutils
ete3
idna
iniconfig
isodate
joblib
lxml
matplotlib
mccabe
newick
numpy
packaging
pandas
Pillow
pluggy
prompt-toolkit
py
pycodestyle
pyflakes
Pygments
PyInquirer
pyparsing
PyQt5
PyQt5-sip
pytest
python-dateutil
python-nexus
pytz
regex
requests
rfc3986
scikit-learn
scipy
seaborn
six
tabulate
termcolor
threadpoolctl
toml
uritemplate
urllib3
wcwidth
xlrd
