atomicwrites==1.4.0
attrs==20.3.0
biopython==1.78
certifi==2020.12.5
chardet==3.0.4
clldutils==3.6.0
colorama==0.4.4
colorlog==4.6.2
csvw==1.8.1
cycler==0.10.0
docutils==0.16
ete3==3.1.2
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
joblib==0.11
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.3.3
mccabe==0.6.1
newick==1.0.0
numpy==1.19.3
packaging==20.7
pandas==1.2.3
pillow==8.1.1
pluggy==0.13.1
prompt-toolkit==1.0.14
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pygments==2.7.4
pyinquirer==1.0.3
pyparsing==3.0.0b1
pyqt5==5.15.2
pyqt5-sip==12.8.1
pytest==6.1.2
python-dateutil==2.8.1
python-nexus==2.0.1
pytz==2020.4
regex==2020.11.13
requests==2.25.0
rfc3986==1.4.0
scikit-learn==0.24.0rc1
scipy==1.5.4
seaborn==0.11.0
six==1.15.0
tabulate==0.8.7
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.4
userpaths==0.1.3
wcwidth==0.2.5
xlrd==1.2.0
